*.jar filter=lfs diff=lfs merge=lfs -text
caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-compiler-embeddable/1.7.20/*.jar filter=lfs diff=lfs merge=lfs -text
caches/8.12/transforms/**/*.jar filter=lfs diff=lfs merge=lfs -text
